/* Circe */
@font-face {
    font-family: 'circe';
    src: url('../../assets/fonts/circe-regular.woff2') format('woff2'),
    url('../../assets/fonts/circe-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* material-icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/material-icons.woff2') format('woff2'),
    url('../../assets/fonts/material-icons.woff') format('woff');
}